/cad_models/arm_3_dog/pwm_model/OldVersions

*.lck

*build*
/cad_models/arm_3_dog/serial_model/OldVersions
/cad_models/tools/gripper/serial_model/OldVersions
/cad_models/tools/gripper/serial_model_5DoF/OldVersions
/cad_models/arm_4_dof/serial_model/OldVersions

*.pyc
/cad_models/tools/gripper/serial_model_6DoF/OldVersions
/cad_models/tools/gripper/serial_model_0dof/OldVersions
/cad_models/tools/gripper/serial_model_bearing_6DoF/OldVersions
/cad_models/tools/gripper/serial_model_0dof/gripper_2/OldVersions
/cad_models/tools/gripper/two_fingers_tensor/OldVersions
/cad_models/tools/gripper/pwm_model/OldVersions

\.vscode/
