<!-- 
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
-->
<launch>

  <rosparam file="$(find arm_description)/models/aeroarms_hecatonquiros/config/arms_control.yaml" command="load"/>
   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/aeroarms" args=
            "joint_state_controller 
            left/arm_0_bottom_joint_position_controller
            left/arm_1_joint_position_controller
            left/arm_2_microservo_joint_position_controller
            left/base_gripper_joint_position_controller
            left/left_gripper_joint_position_controller
            left/right_gripper_joint_position_controller
            right/arm_0_bottom_joint_position_controller
            right/arm_1_joint_position_controller
            right/arm_2_microservo_joint_position_controller
            right/base_gripper_joint_position_controller
            right/left_gripper_joint_position_controller
            right/right_gripper_joint_position_controller
            "/>


    <param name="robot_description"  command="$(find xacro)/xacro --inorder '$(find arm_description)/urdf/4dof.xacro'" />        
     
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/aeroarms/joint_states" />
    </node>

</launch>
